name: Code Formatter with prettier

on:
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
# The type of runner that the job will run on
   Format-Code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          ref: ${{ github.head_ref }}
      - name: setup
        id: setup
        run: npm install -D --save-exact prettier eslint-config-prettier
      - name: execute
        id: execute
        run: prettier --write 'src/**/*.{js,ts,json}'
      - name: check for modified files
        id: git-check
        run: echo ::set-output name=modified::$(if git diff-index --quiet HEAD --; then echo "false"; else echo "true"; fi)
      - name: push changes
        id: push-changes
        if: steps.git-check.outputs.modified == 'true'
        run: |
          git config --global user.email "bot@example.com"
          git config --global user.name "bot"
          git remote set-url origin https://x-access-token:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}
          git commit -am "Automated changes"
          git push origin HEAD:${{github.event.pull_request.head.ref}}
